@model WebApplication.Models.HistoriaUzytkownika

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>HistoriaUzytkownika</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.waga)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.waga)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.wzrost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.wzrost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_historia">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
