@model IEnumerable<WebApplication.Models.Cwiczenie>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Szukaj: <input type="text" name="SearchString" value="@ViewData["currentSearchString"]" />
            <input type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-action="Index">Wyczyść wyszukiwanie</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.opis)
            </th>
            <th>
                <a asp-action="Index" asp-route-sort="@ViewData["currentSort"]">
                    @Html.DisplayNameFor(model => model.spalone_kalorie)
                    @if ((int)ViewData["currentSort"] == 0)
                    {
                        <p>▲</p>
                    }
                    else if ((int)ViewData["currentSort"] == 2)
                    {
                        <p>▼</p>
                    }
                    
                </a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.kategoria)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.opis)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.spalone_kalorie)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.kategoria.nazwa)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id_cwiczenia">Details</a> <br />

                @if (ViewBag.isTrainer)
                {
                    <a asp-action="Edit" asp-route-id="@item.id_cwiczenia">Edit</a> <br />
                    <a asp-action="Delete" asp-route-id="@item.id_cwiczenia">Delete</a> <br />
                }

            </td>
        </tr>
}
    </tbody>
</table>
