@model WebApplication.Models.Trening

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int burnt_calories = 0;
    foreach(var trening in ViewBag.trainingDetails)
        burnt_calories += (trening.liczba_powtorzen * trening.cwiczenie.spalone_kalorie);
}

<h1>Details</h1>

<div>
    <h4>Trening</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.kategoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.kategoria.nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.uzytkownik)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.uzytkownik.login)
        </dd>
        <dd class="col-sm-10">
            Spala @burnt_calories kalorii
        </dd>
    </dl>
    @if (ViewBag.userId == ViewBag.treningOwner)
    {
        <a asp-action="AddExercise" asp-route-id="@Model.id_treningu">Dodaj ćwiczenie</a> <br />
    }

</div>
<div>
    <h5>Cwiczenia</h5>
    <ul>
    @foreach(var trening in ViewBag.trainingDetails)
    {
        <li>
            @trening.cwiczenie.nazwa
            <br />
            Opis: <br />
            @trening.cwiczenie.opis
            <br />
            Liczba powtórzeń: @trening.liczba_powtorzen
            @if (ViewBag.userId == ViewBag.treningOwner)//poprawic ten fragment trzeba wysylac dwie wartosci id
            {
                <form asp-action="DeleteExercise" asp-route-idt="@trening.id_treningu" asp-route-idc="@trening.id_cwiczenia">
                    <input type="submit" value="Usuń ćwiczenie" class="btn btn-danger" />
                </form>
            }
        </li>
    }
    </ul>
</div>
<div>
    @if (ViewBag.userId == ViewBag.treningOwner)
    {
        <a asp-action="Edit" asp-route-id="@Model.id_treningu">Edit</a> <br />
    }
    <a asp-action="Index">Back to List</a>
</div>
