@model IEnumerable<WebApplication.Models.KategoriaCwiczenia>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>
            Szukaj: <input type="text" name="SearchString" value="@ViewData["currentSearchString"]" />
            <input type="submit" value="Szukaj" class="btn btn-default" /> |
            <a asp-action="Index">Wyczyść wyszukiwanie</a>
        </p>
    </div>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.nazwa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.nazwa)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.id_kategorii">Details</a> <br />

                @if (item.id_kategorii != ViewBag.DefaultCategory.id_kategorii && ViewBag.isTrainer)
                {

                    <a asp-action="Delete" asp-route-id="@item.id_kategorii">Delete</a> <br />
                    <a asp-action="Edit" asp-route-id="@item.id_kategorii">Edit</a> <br />
                }

            </td>
        </tr>
}
    </tbody>
</table>
